.regstaff{
    position:sticky;
    margin-top:10%;
    margin-left:4%;
    height:80%;
     
}
.staffreg{
    height: 300%;
    margin-left: 19%;;
    width: 300px;

}
.cards{
    margin-top: 10%;
    font-size:x-large;
   
}
