body {
    background-color: #0e9d57;
}
.posts-container {
    background: linear-gradient(rgba(27, 20, 30, 0.3), rgba(171, 128, 186, 0.5)), url("../../images/lib.jpg") center/cover no-repeat;
    display:flex;
    justify-content: center;
    align-items: center;
}